<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missuor</title>
    <link rel="stylesheet" href="http://bbt.os-easy.com/dist/css/libs.min.css">
    <link rel="stylesheet" href="http://bbt.os-easy.com/dist/css/app.min.css">
    <script src="http://bbt.os-easy.com/dist/js/libs.min.js"></script>
    <script src="http://bbt.os-easy.com/dist/js/env.js"></script>
    <script src="http://bbt.os-easy.com/dist/js/app.js"></script>
</head>

<body>
    <div id="header" ng-if="globals.site.header" ng-include="globals.templateUrl+globals.site.header"></div>
    <div id="container" class="container" ui-view></div>
    <div id="footer" ng-if="globals.site.footer" ng-include="globals.templateUrl+globals.site.footer"></div>
</body>

</html>
