<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Missuor</title>
  <link rel="stylesheet" href="/dist/css/libs.min.css">
  <link rel="stylesheet" href="/dist/css/app.min.css">
  <script src="/dist/js/libs.min.js"></script>
  <script src="/dist/js/env.js"></script>
  <script src="/dist/js/app.js"></script>
</head>

<body>
  <div id="header" ng-if="globals.site.header" ng-include="globals.templateUrl+globals.site.header"></div>
  <div id="container" class="container" ui-view></div>
  <div class="btn-group-vertical floatButton">
    <button type="button" class="btn btn-default" id="goTop" title="去顶部">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
    <button type="button" class="btn btn-default" id="refresh" title="刷新">
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
    <button type="button" class="btn btn-default" id="goComments" title="评论">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <button type="button" class="btn btn-default" id="goBottom" title="去底部">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
  </div>
  <div id="footer" ng-if="globals.site.footer" ng-include="globals.templateUrl+globals.site.footer"></div>
</body>

</html>
