<div class="blog-add user-select-none">
  <form class="form" ng-submit="save()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>写一点什么 :)</b>
          <div class="pull-right">
            <span>
              <a ui-sref="blog.drafts"> 草稿箱(
                <i ng-bind="drafts.length||0"></i>) </a>
            </span>
            <span>
              <a ui-sref="blog.list"> 返回 </a>
            </span>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="item-title">
            <label>标题</label>(
            <i ng-bind="50 - blog.title.length"></i>)
            <i class="text-danger pull-right" ng-show="errors.title&&blog.title.length==0" ng-bind="errors.title[0]"></i>
          </div>
          <div ng-class="{'has-error': errors.title&&blog.title.length==0}">
            <input class="form-control" type="text" placeholder="请在这里输入文章标题" maxlength="50" ng-model="blog.title">
          </div>
        </div>
        <div class="form-group">
          <div>
            <label>内容:</label>
            <i class="text-danger pull-right" ng-show="errors.content&&blog.content.length==0" ng-bind="errors.content[0]"></i>
          </div>
          <div simditor-textarea ng-model="blog.content" data-autosave="editor-content" ng-class="{'has-error': errors.content&&blog.content.length==0}"></div>
        </div>
        <div class="form-group">
          <div>
            <label>摘要:</label>(不超过
            <i ng-bind="200 - blog.abstract.length"></i> 字)
            <i class="text-danger pull-right" ng-show="errors.abstract&&blog.abstract.length==0" ng-bind="errors.abstract[0]"></i>
          </div>
          <textarea class="form-control no-resize" rows="3" maxlength="200" placeholder="简明扼要地叙述文章的主题和实质内容,以便于检索和初步分类" ng-model="blog.abstract"></textarea>
        </div>
        <div class="form-group">
          <div>
            <label>添加标签:</label>
            <i class="text-danger pull-right" ng-show="errors.tags" ng-bind="errors.tags[0]"></i>
          </div>
          <tags-input ng-model="blog.tags"></tags-input>
        </div>
        <div class="form-group">
          <span>
            <label>分类:</label>
            <select ng-model="blog.blog.is_public">
              <option value="1">技术</option>
              <option value="0">生活杂趣</option>
              <option value="0">心情随笔</option>
            </select>
            <a href="#">添加</a>
          </span>
          <span class="check-box">
            <input type="checkbox" id="is_public" ng-model="blog.is_public" checked="{{blog.is_public}}">
            <label class="right" for="is_public">公开</label>
          </span>
          <span class="check-box">
            <input type="checkbox" id="is_publish" ng-model="blog.is_publish" checked="{{blog.is_publish}}">
            <label class="wrong" for="is_publish">发布</label>
          </span>
          <span class="pull-right">
            <a href="#">
              <i class="glyphicon glyphicon-paperclip icon_attach"></i> 附件</a>
            <a href="javascript: void(0)" class="btn-settings">
              <i class="glyphicon glyphicon-cog"></i> 更多设置</a>
          </span>
        </div>
        <div class="form-group">
          <span>
            <label>文章别名:</label>(友好地址名，只能使用字母、数字、-连字符)
            <i class="text-danger pull-right" ng-show="errors-entryname" ng-bind="errors.entryname[0]"></i>
          </span>
          <input class="form-control" type="text" maxlength="150" ng-model="blog.entryname">
        </div>
        <div class="form-group">
          <span>
            <label>封面:</label>(这将在首页显示): {{progress}}|{{result}}
          </span>
          <input type="file" id="cover" on-change="loadImg()" ng-model="blog.cover">
          <div ng-if="dataUrl">
            <img id="cropper" ng-if="dataUrl" ng-src="{{dataUrl}}" ng-cropper ng-cropper-options="options">
          </div>
        </div>
        <div class="preview-container">
          <img ng-if="preview.dataUrl" ng-src="{{preview.dataUrl}}">
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-group clearfix">
          <div class="pull-left">
            <input ng-click="saveBlog()" class="btn btn-sm btn-primary" type="button" value="发表" />
            <input class="btn btn-sm btn-default" type="reset" value="取消" />
          </div>
          <div class="pull-right">
            <input ng-click="previewBlog()" class="btn btn-sm btn-default" type="button" value="预览" />
            <input ng-click="saveDraft()" class="btn btn-sm btn-default save-draft" type="button" value="保存草稿" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
