<article class="panel panel-default blog" ng-show="blog">
  <header class="panel-heading blog-header">
    <h4 class="text-center">
      <span ng-bind="blog.title"></span>
      <span class="pull-right">
        <a ui-sref="blog.edit(blog.stateParams)" class="pull-right" ng-if="globals.user.id&&blog.owner.id==globals.user.id||globals.user.is_superuser" ng-bind="'编辑'"></a>
      </span>
    </h4>
    <div>
    </div>
    </span>
  </header>
  <div class="panel-body blog-body">
    <p ng-bind-html="blog.content" class="blog-content"></p>
  </div>
  <footer class="panel-footer blog-footer clearfix">
    <div>
      <span>
        <span class="blog-category">
          <i>分类:</i>
          <a href="#">未知</a>
        </span>
        <span class="blog-tags" ng-if="blog.tags.length>0">
          <i>标签:</i>
          <a class="tag" ui-sref="tag.detail({'tag': tag.slug})" ng-repeat="tag in blog.tags">
            <span ng-bind="tag.name"></span>
          </a>
        </span>
        <span class="blog-createtime">
          <i>发布时间:</i>
          <time ng-bind="blog.create_time|date:'yyyy年MM月dd日'"></time>
        </span>
      </span>
    </div>
  </footer>
  </div>
</article>
