<div class="blog-edit user-select-none">
  <form ng-submit="save()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>写一点什么 :)</b>
          <div class="pull-right">
            <a href="/blogs/drafts"> 草稿箱(#) </a>|
            <a href="#"> 提建议 </a>|
            <a href="#"> 新功能说明 </a>|
            <a ui-sref="blog.detail(blog.stateParams)"> 返回 </a>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <div id="title-group" class="form-group">
          <span class="field-title-holder">
            <label>标题</label>
            <i class="text-danger pull-right" ng-show="errors.title" ng-bind="errors.title[0]"></i>
          </span>
          <input class="form-control" type="text" name="title" value="{{ blog.title }}" placeholder="请在这里输入文章标题" tabindex="1" maxlength="50" ng-model="blog.title">
        </div>
        <div id="content-group" class="form-group">
          <span class="field-title-holder">
            <b>内容:</b>
            <i class="text-danger pull-right" ng-show="errors.content" ng-bind="errors.content[0]"></i>
          </span>
          <div simditor-textarea ng-model="blog.content" data-autosave="editor-content" autofocus></div>
        </div>
        <div id="abstract-group" class="form-group">
          <span class="field-title-holder">
            <b>摘要:</b>(不超过200字)
            <i class="text-danger pull-right" ng-show="errors.abstract" ng-bind="errors.abstract[0]"></i>
          </span>
          <textarea class="form-control no-resize" name="abstract" rows="3" maxlength="200" placeholder="简明扼要地叙述文章的主题和实质内容,以便于检索和初步分类" ng-model="blog.abstract">{{ blog.abstract }}</textarea>
        </div>
        <div id="tags-group" class="form-group">
          <span class="field-title-holder">
            <b>添加标签:</b>
            <i class="text-danger pull-right" ng-show="errors.tags" ng-bind="errors.tags[0]"></i>
          </span>
          <tags-input ng-model="blog.tags" display-property="name" key-property="name"></tags-input>
        </div>
        <div id="metedata-group" class="form-group clear-fix">
          <span class="field-is_public-holder">
            <b>分类:</b>
            <i class="text-danger pull-right" ng-show="errors.is_public" ng-bind="errors.is_public[0]"></i>
          </span>
          <select name="is_public" ng-model="blog.is_public">
            <option value="1">技术</option>
            <option value="0">生活杂趣</option>
            <option value="0">心情随笔</option>
          </select>
          <a href="#" class="glyphicon">&#x2b;</a>
          <!--
          <span class="field-is_public-holder">
            <b>权限:</b>
            <i class="text-danger pull-right" ng-show="errors.is_public" ng-bind="errors.is_public[0]"></i>
          </span>
          <select name="is_public" ng-model="blog.is_public">
            <option value="1">公开</option>
            <option value="0">仅自己可见</option>
          </select>
          -->
          <span class="check-box">
            <input type="checkbox" id="is_public" ng-model="blog.is_public" checked="{{blog.is_public}}">
            <label class="right" for="is_public">公开</label>
          </span>
          <span class="check-box">
            <input type="checkbox" id="is_publish" ng-model="blog.is_publish" checked="{{blog.is_publish}}">
            <label class="wrong" for="is_publish">发布</label>
          </span>
          <div class="pull-right">
            <a href="#">
              <i class="glyphicon glyphicon-paperclip icon_attach"></i> 附件</a>
            <a href="javascript: void(0)" class="btn-settings">
              <i class="glyphicon glyphicon-cog"></i> 更多设置</a>
          </div>
        </div>
        <div id="profile-group" class="entryname-holder">
          <div id="entryname-group" class="form-group">
            <span class="field-title-holder">
              <b>文章别名:</b>(友好地址名，只能使用字母、数字、-连字符)
              <i class="text-danger pull-right" ng-show="errors-entryname" ng-bind="errors.entryname[0]"></i>
            </span>
            <input class="form-control" type="text" name="entryname" maxlength="150" ng-model="blog.entryname">
          </div>
          <div id="cover-group" class="form-group">
            <span class="field-title-holder">
              <b>封面:</b>(这将在首页显示)
            </span>
            <img class="imgclip-output" src="{{ blog.cover.url }}" ng-show="blog.cover"></img>
            <input type="file" data-provide="imgclip" ng-model="blog.cover">
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-group clearfix">
          <div class="pull-left">
            <input class="btn btn-sm btn-primary" type="submit" value="发表" />
            <input class="btn btn-sm btn-default" type="reset" value="取消" />
          </div>
          <div class="pull-right">
            <input class="btn btn-sm btn-default" type="button" value="预览" />
            <input class="btn btn-sm btn-default save-draft" type="button" value="保存草稿" ng-show="!blog.is_publish" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
