<div class="post-body" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled="!infinite">
  <div class="main">
    <div class="post-list">
      <article class="post post-with-tags" ng-repeat="blog in blogs">
        <header class="post-title" ui-sref="blog.detail(blog.stateParams)">
          <strong ng-bind="blog.title"></strong>
        </header>
        <div class="post-meta">
          <span class="post-meta-author" ng-bind="blog.owner.full_name" ui-sref="user({'username':blog.owner.username})"></span>
          <span class="post-meta-ctime" ng-bind="blog.create_time|date:'yyyy-MM-dd'"></span>
        </div>
        <p class="post-abstract" ng-bind="blog.abstract"></p>
        <footer class="post-tags">
          <a class="tag" ng-repeat="tag in blog.tags" ui-sref="tag.detail({'tag': tag.slug})">
            <span class="tag_name" ng-bind="tag.name"></span>
          </a>
        </footer>
      </article>
    </div>
    <div class="more" ng-if="!globals.site.useinfinite&&page_info.has_more">
      <span class="rectangle">
        <a class="btn" ng-click="loadMore()" ng-bind="'More'"></a>
      </span>
    </div>
    <div class="loading" ng-if="globals.site.useinfinite&&page_info.loading">
      <span class="rectangle">
        <a class="btn" ng-click="loadMore()" ng-bind="'More'"></a>
      </span>
    </div>
  </div>
</div>
